################################################################################
## Exports
################################################################################
exportPattern("^[^\\.]")
S3method("termPlot", "fREG")

###############################################################################
## Imports
################################################################################
import(timeDate)
import(timeSeries)
import(fBasics)

importFrom("methods", new, slot)
importFrom("stats", as.formula, delete.response, gaussian, model.frame,
	model.matrix, model.response, pf, printCoefmat, rnorm, runif, sd, symnum,
	termplot, var)
importFrom("utils", menu)

###############################################################################
## useDynLib
###############################################################################
# useDynLib("fRegression")
